<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutenticarUsuario</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.AutenticarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEmpleados</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.ListaEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUbicaciones</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.ListaUbicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaUbicacion</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.ModificaUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaUbicacion</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.EliminaUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaEmpleado</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.ModificaEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaEmpleado</servlet-name>
        <servlet-class>com.mycompany.usuariostomcat.controller.EliminaEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutenticarUsuario</servlet-name>
        <url-pattern>/AutenticarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEmpleados</servlet-name>
        <url-pattern>/ListaEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUbicaciones</servlet-name>
        <url-pattern>/ListaUbicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaUbicacion</servlet-name>
        <url-pattern>/ModificaUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaUbicacion</servlet-name>
        <url-pattern>/EliminaUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaEmpleado</servlet-name>
        <url-pattern>/ModificaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaEmpleado</servlet-name>
        <url-pattern>/EliminaEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
